:root {
    --background: #151515;
    --background-body: #0f0f0f;
    --background-alt: #272727;
    --selection: #bb07d6;
    --text-main: #e3e3e3;
    --text-bright: #ffffff;
    --text-muted: #a9b1ba;
    --links: #c706e3;
    --focus: rgba(230, 230, 230, 0.67);
    --border: #af14c8;
    --code: #ffffff;
    --animation-duration: 0.1s;
    --button-base: #373737;
    --button-hover: #121212;
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: #ffffff;
    --form-placeholder: #a9a9a9;
    --form-text: #fff;
    --variable: #d941e2;
    --highlight: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 800px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
